.view, .Body {
  width: 100%;
  min-height: 32rem;
}

.SlideShow {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.Header, .Footer {
  display: flex;
  flex-direction: row;
  height: 10%;
}